body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.heading {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}
.heading h1 {
  color: white;
  font-size: 70px;
}
.heading h3 {
  color: white;
  font-size: 20px;
}
#particles-js {
  background-color: black;
  height: 100vh;
}
